nav{
    background-color: #03707F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: normal;
    height: 84px;
    padding: 0 8px 0 8px;
}

nav div{
    color: #FFF;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.02px;
    text-transform: uppercase;
}

nav ul{
    display: inline-flex;
    align-items: center;
    gap: 32px;
}

nav ul>li{
    font-weight: 100;
    list-style: none;
}